<div class="row">
    <div class="col-md-4 col-md-offest-4">
        <h1>User Profile</h1>
        <form action="" method="post">
            <div>
                
            </div>
        </form>
    </div>
</div>